body {
  font: 10px sans-serif !important;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.x.axis path {
  display: none;
}

path.domain {
  stroke: none;
}

.bar:hover {
  fill: #FFD700 !important;
  pointer-events: all;
}

.titleText {
	font-weight: bold;
}